Flask
gunicorn
itsdangerous
Jinja2==3.0.1
opencv-python-headless
numpy>=1.18.1
Pillow>=7.0.0
Flask-SQLAlchemy
flask-login
Keras
Keras-Applications
Keras-Preprocessing
tensorflow
tensorflow-estimator
urllib